:root{
  --square-size: 10vw;
}

body {
    font: 10px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: rgb(15, 31, 46);
    overflow-x:hidden;
  }

  .board-row{
    display: flex;
    justify-content: center;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .square {
    background: #fff;
    border: 0px;
    font-size: var(--square-size);
    font-weight: bold;
    line-height: var(--square-size);
    height: var(--square-size);
    width: var(--square-size);
    text-align: center;
    margin: calc(0.1 * var(--square-size));
    border-radius: 15%;
    transition-duration: 0.5s;
  }

  .square:hover{
    transform: scale(1.1);
  }
  
  .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .game-info {
    text-align: center;
    font-size: 6vh;
    color: white;
  }
  .GoButtonsContainer{
    margin: 0.6em;
  }
  
  .GoButtonContainer{
    margin: 0.5vh;
    padding: 0;
    display: flex;
    justify-content: center;
    transform: scale(0.8);
  }

  .GoButton{
    border: none;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    transition-duration: 0.4s;
  }

  .GoButton:hover{
    transform: scale(1.1);
  }

  #current{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .status{
    margin: 0.5em;
    font-size: calc(0.6 * var(--square-size));
  }

  .title{
    color: white;
    font-size: calc(1.5 * var(--square-size));
    margin: 0;
    animation: TitleAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

/* width */
::-webkit-scrollbar {
  width: 0.2vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(52, 74, 93); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@keyframes TitleAnimation {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.1);}
  100% {transform: scale(1);}
}